<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <log4net configSource="mongo_appender.config"/>
  <connectionStrings>
    <!--<add name="MongoTkt" providerName="mongodb" connectionString="//mongotkt:mongotkt#913@DBA-MONGO:27017/DBA_TKT?authMechanism=SCRAM-SHA-1"/>-->
    <add name="MongoTkt" providerName="mongodb" connectionString="mongodb://umongotkt:umongotkt#596@DBA-UMONGO:27017/DBA_UTKT?authMechanism=MONGODB-CR"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
</configuration>