<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="MongoTkt" providerName="mongodb" connectionString="//mongotkt:mongotkt#913@DBA-MONGO:27017/DBA_TKT?authMechanism=SCRAM-SHA-1"/>-->
    <add name="MongoTkt" providerName="mongodb" connectionString="mongodb://umongotkt:umongotkt#596@DBA-UMONGO:27017/DBA_UTKT?authMechanism=MONGODB-CR"/>
  </connectionStrings>
</configuration>